/* You can add global styles to this file, and also import other style files */
.ui-widget.ui-required {
	border-left: 3px solid red !important; 
}

.ui-widget label {
	font-size: 0.8em !important;
	color: grey !important;
}

.ui-fieldset {
	margin-top: 5px;
}

form .ui-required {
    border-left: 3px solid red !important; 
}    

.ui-object-name {
	font-size: 0.8em !important;
}